.input_text {
     width: 450px;
}
.left_side, .right_side  {
     display: flex;
     flex-direction: column;
     width: 500px;
}
.left_side {
     max-height: 150px;
}
.list {
     margin-top: 0px;
     background: #F5F5F5;
}
.right_side {
     background-color: white;
}
.textchanger {
     display: flex;
     flex-direction: row;
     width: 1001px;
}
.left_side__title, .right_side__title  {
     background-color: white;
     border: 1px solid;
     padding: 15px;
     color: #D3D3D3;
     height: 15px;
}
.input_text {
     border: none;
}
input {
     outline:none;
}
input:active {
     outline:none;
}
input:focus {
     outline:none;
     background: #F0FFFF;
}
.arrow_image {
     position: relative;
     float: right;
     width: 30px;
     height: 30px;
     background: #DCDCDC;
     bottom: 7px;
}
.develop_image {
     float: right;
     background: white;
     position: relative;
     width: 30px;
     height: 30px;
     bottom: 7px;
}